/* Salmon Color #B75835 */
/* Dark Blue #16181C */
/* Light Blue #959089 */
/* Gold-ish #D9B669 */
html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #16181C;
  height: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #D9B669;
}

.wrapper {
  min-height: 100%;
  /* margin-bottom: -50px; */
}

/* HEAD */
#logo-head {
  background-color: #B75835;
  border-bottom: #959089 solid 5px;
  padding: 1.3em;
  text-align: center;
}

.head-item {
  display: inline-block;
}

.head-item:first-child {
  vertical-align: top;
  width: 25%;
}

.head-item:last-child {
  width: 70%;
}

h1, h2 {
  font-family: 'Black And White Picture', sans-serif;
}

h1 {
  font-size: 3em;
  padding: 5px;
}

h2 {
  font-size: 1.6em;
}

img {
  width: 100%;
}

/* TABLES */
h3 {
  color: #eee;
  font-family: 'Allerta', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  padding: 15px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

table {
  border: solid #B75835 3px; 
}

h4 {
  font-weight: bold;
  padding: 2px;
}

td, th {
  border: solid #333 1px;
  padding: 8px;
}

th {
  background-color: #555;
}

tr:hover {
  background-color: #D9B669 !important;
}

tr:nth-child(even) {
  background-color: #777;
}

tr:nth-child(odd) {
  background-color: #999;
}

/* MAIN PAGE */
section {
  background-color: #959089;
  font-size: 1.2em;
  margin: 10px auto;
  padding: 8px;
  text-align: center;
  width: 80%;
}

section div {
  padding: 3px;
  border: #555 inset 5px;
  vertical-align: top;
}

.big-side {
  background-color: #eee;
  display: inline-block;
  min-height: 100px;
  width: 55%
}

.small-side {
  background-color: #AA6745;
  display: inline-block;
  min-height: 100px;
  width: 30%;
}

/* FORM */
form {
  background-color: #959089;
  border: #B75835 solid 3px;
  margin: 9px auto;
  padding: 8px;
  width: 80%;
}

#error-list li {
  color: red;
}

/* FOOTER */
footer {
  background-color: #B75835;
  border-top: #959089 solid 5px;
  margin-top: 15px;
  height: 50px;
}
